*{
  padding:0;
  margin:0;
}
.custom-navbar {
  background-color: #6c757d;
}
.mobile-view-container {
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 100vw;
}

.mobile-view-content {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Leaflet CSS class. Height MUST be set in order to render map. */
.leaflet-container {
    min-height: 350px;
    min-width: 100%;
    height: 50vh;
    margin-bottom: 2%;
    z-index: 0;
}